{{ partial "header" . }}

  <div class="container creation">
    <div class="back">
      <a href="/creations" title="back_button">
        <button>
          BACK
        </button>
      </a>
    </div>

    <h1>"{{.Title}}"</h1>

    {{ .Content }}

    {{ if .Params.Youtube }}
      <div class="youtube">
        {{ partial "youtube" .Params.Youtube }}
      </div>
    {{ end }}

    {{ if (.Params.Gallery) }}
      {{ if (gt (len .Params.Gallery) 0)}}
        {{ $title := .Title }}
        <div class="gallery" id="lightgallery">
          {{range .Params.Gallery }}
            <a href="/uploads/{{.}}" class='gallery-item'>
              <img src="/uploads/{{.}}" alt={{$title}} class="img-gallery">
            </a>
          {{end}}
        </div>
      {{ end }}
    {{ end }}

    {{ if .Params.Credit }}
      <p class="center">{{ .Params.Credit }}</p>
    {{ end }}
  </div>

{{ partial "footer" . }}