<a href="https://www.youtube.com/channel/UCNp7W4MKfGsTxb35TvVwbGQ" target="_blank">
  {{ partial "svg" (dict "iconName" "youtube" "size" "28px")}}
</a>
<a href="https://www.facebook.com/Constant-Vigier-Choreography-549461305217064/?fref=ts" target="_blank">
  {{ partial "svg" (dict "iconName" "facebook" "size" "28px")}}
</a>

<a href="https://twitter.com/constantvigier" target="_blank">
  {{ partial "svg" (dict "iconName" "twitter" "size" "28px")}}
</a>

<a href="http://instagram.com/c.vigier" target="_blank">
  {{ partial "svg" (dict "iconName" "instagram" "size" "28px")}}
</a>

<a href="https://www.linkedin.com/pub/constant-vigier/b4/966/b32">
  {{ partial "svg" (dict "iconName" "linkedin" "size" "28px")}}
</a>
