=transition($transition, $transition2:"")
  -webkit-transition: $transition, $transition2
  -moz-transition: $transition, $transition2
  -ms-transition: $transition, $transition2
  -o-transition: $transition, $transition2
  transition: $transition, $transition2

=smartphone
  @media (max-width: #{$tablet-width - 1px})
    @content

=tablet
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px})
    @content

=desktop
  @media (min-width: #{$desktop-width})
    @content