@import 'variables'
@import 'mixins'

*
  box-sizing: border-box

html
  background-color: $background-color
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased

body
  background-color: $background-color
  color: white
  font-size: $font-size_base
  margin: 0
  &.home
    background: url('/images/background1.jpg')
    background-size: contain
    min-height: 85vh
    background-repeat: no-repeat

    +desktop
      background-position: 0 -170px

    +tablet
      background-position: 0 -100px

    +smartphone
      background-position: 0 -30px

  a, a:hover, a:focus, a:active, a:visited, a:link
    text-decoration: none

  a
    +transition(color .1s 0s ease-in-out)

  button
    text-transform: uppercase
    font-size: 1.1em
    letter-spacing: 0.5px
    border-radius: 0
    background-color: transparent
    color: rgba(255, 255, 255, 0.9)
    border: 2px solid rgba(255, 255, 255, 0.9)
    +transition(0.2s background-color ease-in-out)
    padding: 1em 2.5em
    cursor: pointer
    &:hover
      color: #1d1d1d
      background-color: rgba(255, 255, 255, 0.9)

  iframe
    width: 100%

  a, a:visited, a:link
    color: #d8ccc0
  a:hover, a:active, a:focus
    color: white

  figcaption h4
    margin: 5px
    font-family: "Source Code Pro", sans-serif
    font-weight: 500
    font-style: normal
    font-size: 0.857em
    line-height: 1.357em

main
  padding: 75px 34px
  max-width: 1080px
  margin: auto auto

  +smartphone
    padding: 45px 34px

// HEADER

.page-header
  background-color: $red-background-color

  &.home
    background-color: transparent

h1.site-title
  z-index: 99
  text-align: center
  font-family: "Cabin", sans-serif
  font-weight: 400
  font-size: 3.42em
  line-height: 1.21em
  letter-spacing: 0.375em
  width: 400px
  margin: 0 auto
  text-transform: uppercase
  font-style: normal
  padding: 35px 0
  position: relative

  +smartphone
    font-size: 1.642em
    padding: 15px 0


  a, a:focus, a:visited, a:active, a:link, a:hover
    color: white

.menu
  display: flex
  flex-flow: row wrap
  justify-content: space-around
  max-width: 780px
  margin: auto auto
  padding-left: 0
  li
    font-family: "Cabin", sans-serif
    font-size: 1.285em
    text-transform: uppercase
    letter-spacing: 5px
    font-weight: 400
    font-style: normal
    line-height: 1em
    list-style-type: none
    padding-top: 1.3em
    padding-bottom: 1em

    a, a:visited, a:link
      color: #dfd8b4
    a:focus, a:hover, a:active
      color: white
    &.active
      a
        color: white
        font-weight: 500

// HEADER END

// FORM
form
  font-family: "Source Code Pro", sans-serif
  font-weight: 500
  label
    font-size: 1em
    line-height: 1.5em
    display: block

  input, textarea
    width: 100%
    padding: 12px
    margin: 6px 0 24px
    border: 1px solid #ccc
    background: #fafafa
    color: #000
    font-family: sans-serif
    font-size: 12px
    line-height: normal
    box-sizing: border-box
    border-radius: 2px

  textarea
    min-height: 100px

// FORM END

// HOME

.huge
  font-family: "Cabin", sans-serif
  font-size: 6.95em
  line-height: 1.2em
  text-transform: uppercase
  letter-spacing: 0.12em
  font-weight: 400
  font-style: normal
  color: #fff
  margin: 0 auto
  text-align: center
  padding: 180px 0 500px 0

  +smartphone
    font-size: 2.43em
    padding-top: 50px
    padding-bottom: inherit

// HOME END

// PAGES

.container.page
  font-family: "Source Code Pro", sans-serif
  font-size: 1em

  &.biography
    font-weight: 700
    font-style: italic
    line-height: 2.07em
    text-align: center

  &.agenda
    font-weight: 500
    font-style: normal

    li
      margin: 0.5em auto
      font-size: 1em
      line-height: 2.07em

    h3
      font-family: "Abel", sans-serif
      font-weight: 700
      font-size: 2.285em
      line-height: 1.187em
      margin: 1.5em auto .3em 45px

.inline-img
  text-align: center
  display: block
  img
    max-width: 300px
    margin-top: 20px



// PAGES END

// CREATIONS
ul.creations
  list-style-type: none
  // display: flex
  // justify-content: center
  // align-content: space-around
  // flex-flow: row wrap
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  padding: 0

  li
    width: 330px
    height: auto
    display: block
    margin-bottom: 40px

    h2
      font-family: "Abel", sans-serif
      font-weight: 400
      line-height: 1.2em
      font-size: 1.43em
      text-transform: uppercase
  img
    object-fit: cover
    object-position: center
    height: 220px
    width: 300px

.container.creation
  text-align: center
  font-family: "Source Code Pro", sans-serif
  font-weight: 500
  line-height: 2.01em

  .back
    text-align: left
    button
      font-size: 0.85em
      color: rgba(255,255,255,.6)
      border-color: rgba(255,255,255,.6)
      &:hover
        background-color: rgba(255,255,255,.6)
        color: #1d1d1d
      a, a:hover, a:visited, a:link, a:focus, a:active
        color: inherit


  h1
    text-align: center
    font-family: "Abel", sans-serif
    font-weight: 700
    font-size: 2.285em
    line-height: 1.187em

  .youtube
    margin-top: 60px

  .gallery
    margin-top: 30px
    display: flex
    flex-flow: row wrap
    justify-content: space-around
    // display: grid
    // grid-template-columns: 1fr 1fr 1fr 1fr

    img
      object-fit: cover
      object-position: center
      // display: block
      margin: 10px
      max-height: 250px
      max-width: 320px
      // max-width: 100%
      // padding: 10px


// CREATIONS END

// FOOTER
footer
  .quote
    font-family: "Source Code Pro", sans-serif
    letter-spacing: 0.4px
    line-height: 2.1em
    font-weight: 500
    background-color: $red-background-color
    color: $quote-text-color
    text-align: center
    padding: 34px

  .social-media
    display: flex
    justify-content: center
    width: 100%
    margin-top: 20px
    padding: 70px 0
    a
      padding: 0 10px
    svg
      fill: white
      +transition(fill 0.2s)

    &:hover
      svg
        fill: #6e7078
        +transition(fill 0.3s)

    a:focus, a:active, a:hover
      svg
        fill: white

// FOOTER END

// SHORTCODES

.center
  text-align: center

.left
  text-align: left

.right
  text-align: right


// SHORTCODES END

// MOBILE ONLY

+desktop
  .overlay-menu, .mobile-menu, .hamburger
    display: none

+tablet
  .overlay-menu, .mobile-menu, .hamburger
    display: none

+smartphone
  .menu
    display: none
  .overlay-menu, .mobile-menu
    display: block
  .mobile-menu
    display: flex
    height: 100vh
    align-items: center
    justify-content: center
    .menu
      display: flex
      align-items: center
      text-align: center
      height: 30vh
      flex-direction: column
      text-align: center

      li
        line-height: 1em
        font-size: 1.715em
        padding: 0

  .overlay-menu
    opacity: 0
    +transition(all 0.3s)
    background-color: $red-background-color
    width: 100%
    height: 100vh
    position: absolute
    top: 0
    z-index: 1

  .hamburger
    position: absolute
    top: 20px
    left: 20px
    display: block
    z-index: 100

    .bar
      width: 22px
      height: 2px
      background-color: #dfd8b4
      margin-bottom: 5px
      position: relative
      +transition(all 0.2s)
    &.cross .bar
      transform-origin: 50% 50%
      &:nth-child(1)
        +transform(rotate(45deg))
        top: 7px
      &:nth-child(3)
        +transform(rotate(-45deg))
      &:nth-child(2)
        display: none


// MOBILE ONLY END